*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main1{
    width: 100%;
    height: 80vh;
    background: url('bg.jpg');
}

.overlay{
    width: 100%;
    height: 80%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10px;
}

.col{
    margin-top: 20px;
    width: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 350px;

}

.col div{
    width: 250px;
    text-align: center;

}

input {
    width: 70px;
    background-color: rgba(250,250,250,0.8);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

body{
    background-color: rgb(0, 179, 255);
}

.main2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box {
    width: 40%;
    box-shadow: 0px 0px 5px grey;
    background-color: rgb(188, 252, 226);
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    width: 100%;
    margin: 2rem;
    margin-left: 0p;
}

#option1, #option2, #option3, #option4{
    height: 25px;
}
.btn{
    display: flex;
}
#prv-btn, #nxt-btn {
    width:100%;
    padding: 5px;
    background-color: rgb(0, 179, 255);
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 20px;
    margin: 10px 10px 10px

}
#nxt-btn:active{
    background-color: rgb(19, 219, 19);
}

#prv-btn:active{
    background-color:rgb(23, 207, 23);
}

.que button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}

.que button:active{
    background-color: blue;
}



